PORT=3000
STRAVA_VERIFY_TOKEN=jouw_zelfbedachte_token_hier

# APNs Settings voor Push Notificaties (AIFitnessCoach)
APN_KEY_ID=DummyKeyID
APN_TEAM_ID=DummyTeamID
APN_BUNDLE_ID=com.example.AIFitnessCoach
TEST_DEVICE_TOKEN=dummy_device_token_from_xcode_console
