PORT=3000
STRAVA_VERIFY_TOKEN=jouw_zelfbedachte_token_hier

# Apple Push Notification Service (APNs) configuratie
# Haal deze gegevens uit je Apple Developer account -> "Certificates, Identifiers & Profiles" -> "Keys"
APN_KEY_ID=
APN_TEAM_ID=
APN_AUTH_KEY_PATH=
BUNDLE_ID=

# Test apparaat token
# Dit is het APNs token dat gelogd wordt in de Xcode console door de AppDelegate als de app start.
TEST_DEVICE_TOKEN=
